<?xml version="1.0"?>
<config>
    <modules>
        <Cammino_Clearsale>
            <version>0.1.0</version>
        </Cammino_Clearsale>
    </modules>
    <global>
        <models>
            <cammino_clearsale>
                <class>Cammino_Clearsale_Model</class>
            </cammino_clearsale>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_info>Cammino_Clearsale_Block_Adminhtml_Sales_Order_View_Tab_Info</sales_order_view_tab_info>
                </rewrite>
            </adminhtml>
            <cammino_clearsale>
                <class>Cammino_Clearsale_Block</class>
            </cammino_clearsale>
        </blocks>
        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <clearsale_observer_setorderasreturned>
                        <type>singleton</type>
                        <class>Cammino_Clearsale_Model_Observer_Status</class>
                        <method>setOrderAsReturned</method>
                    </clearsale_observer_setorderasreturned>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_place_after>
                <observers>
                    <clearsale_observer_setsessionid>
                        <type>singleton</type>
                        <class>Cammino_Clearsale_Model_Observer_Status</class>
                        <method>setSessionId</method>
                    </clearsale_observer_setsessionid>
                </observers>
            </sales_order_place_after>
        </events>
    </global>

    <crontab>
        <jobs>
            <cammino_clearsale_automatic_invoice_cron>
                <schedule>
                    <cron_expr>30 * * * *</cron_expr>
                </schedule>
                <run><model>cammino_clearsale/observer_cronInvoice::createInvoice</model></run>
            </cammino_clearsale_automatic_invoice_cron>
        </jobs>
    </crontab>

    <frontend>
        <layout>
            <updates>
                <clearsalemapper module="Cammino_Clearsale">
                    <file>clearsalemapper.xml</file>
                </clearsalemapper>
            </updates>
        </layout> 
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Cammino_Clearsale after="Mage_Adminhtml">Cammino_Clearsale_Adminhtml</Cammino_Clearsale>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment_services>
            <clearsale_start>
                <active>0</active>
            </clearsale_start>
            <clearsale_standard>
                <active>0</active>
            </clearsale_standard>
        </payment_services>
    </default>
</config>